
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --default-text-padding: 5rem;
    --navbar-height: 60px; /*this number was determined by trial and error*/
}

.container {
    width: min(100%, 1920);
    min-height: calc(100vh - var(--navbar-height));
    margin: auto;

}

#logo {
    width: 60px;
    height: auto;
}

#current-webpage {
    background-color: red;
    color: white;
}

header {
    display: flex;
    background-color:honeydew;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: sticky;
    top: 0;
    height: 60px;
}

nav {
    display: flex;
    align-items: center;


    & a {
        text-align: center;
        margin: 5px;
        
        color: red;
        border-style: solid;
        border-color: red;
        border-width: 0.1rem;
        border-radius: 5px;
        
        padding: 10px;
        text-decoration: none;
        
        
        & :visited {
            color: red;
        }

        &:hover {
            border-color:rgb(249, 138, 138);
        }
    }

}

#hero-section{
    height: calc(100vh - var(--navbar-height));
    display: flex;
    align-items: center;
    background-color: beige;
    padding: var(--default-text-padding);
    
}

#welcome-text {
    font-size: 5rem;
}

#first-paragraph {
    font-size: 1rem;
    padding: var(--default-text-padding);
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    flex-flow: column;
    gap: 1rem;

    & :nth-child(2) {
        color: crimson;
    }
}

#card-container {
    display: flex;
    padding: var(--default-text-padding);
    justify-content: space-between;
    width: min(100%, 1200px);
    margin: auto;
    
}

.card {
    height: 250px;
    width: 300px;
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    justify-content: center;
    background-color: red;
    color: white;
    padding: 1rem;
    text-align:center;
}