
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --default-text-padding: 5rem;
    --navbar-height: 60px; /*this number was determined by trial and error*/
    --maroon-primary: rgb(208, 57, 57);
    --maroon-very-light: rgb(255, 197, 197);
    --maroon-font-dark: rgb(66, 4, 14);

}

.container {
    width: min(100%, 1920);
    min-height: calc(100vh - var(--navbar-height));
    margin: auto;

}

#logo {
    width: 60px;
    height: auto;
}

#current-webpage {
    background-color: red;
    color: white;
}

header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: sticky;
    top: 0;
    min-height: 60px;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    

    & a {
        text-align: center;
        margin: 5px;
        
        color: red;
        border-style: solid;
        border-color: red;
        border-width: 0.1rem;
        border-radius: 5px;
        
        padding: 10px;
        text-decoration: none;
        background-color: white;
        
        & :visited {
            color: red;
        }

        &:hover {
            border-color:rgb(249, 138, 138);
        }
    }

}

.hero-section{
    height: calc(100vh - var(--navbar-height));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: beige;
    padding: var(--default-text-padding);
    
    background-position:top;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    z-index: 0;

    text-align: center;
    
}

.hero-section-header {
    font-size: 5rem;

}

#hero-section-home {
    position: relative;
    background-color: white;
    display: flex;
    align-items: start;
    & :not(video) {
        position:relative;
        text-align: left;
        
    }

    & h1 {
        text-align: left;
        
        & div {
            font-size: 5rem;
            font-weight: 700;
        }
        backdrop-filter: blur(5px);
    }

    & h4 {
        color: crimson;
        width: 100%;
        font-weight: 700;
        margin-top: 0.5rem;
        
    }
    
    & video {
        position: absolute;
        z-index: 0;
        inset: 0;
        height: 100%;
        width: 100%;
        
        mask-image: url('../Images/Prestine-Renovations-Logo.png');
        mask-repeat: no-repeat;
        mask-size: min(1000px, 100%);
        mask-position:800px center;

        
        -webkit-mask-image: url('../Images/Prestine\ Renovations\ Logo.png');
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size:  min(1000px, 100%);
        -webkit-mask-position: 80% center;
        
    }
}

#hero-section-services {
    background-image: url("../Images/Prestine\ Renovations\ Photo\ 2.jpg");
    color: whitesmoke;

}

#hero-section-about {
    background-image: url("../Images/Prestine\ Renovations\ Photo\ 1.jpg");
    color: white;

    & h1 {
        color: var(--maroon-primary);
        
    }

}

#hero-section-contact {
    /*background-color:deepskyblue;*/
    color: white;
    background-image: url("../Images/Prestine\ Renovations\ Photo\ 7\ \(Contacts\ Us\).jpg");
    
    

}

#hero-section-gallery {
    background-color: white;
    & h1 {
        color: var(--maroon-primary);
        margin-bottom: 0.5rem;
    }
    & h4 {
        color: var(--maroon-font-dark);
        font-size: 1.5rem;
    }
}

#welcome-text {
    font-size: 5rem;
}

#first-paragraph {
    font-size: 1rem;
    padding: var(--default-text-padding);
    min-height: 500px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    flex-flow: column;
    gap: 1rem;

    & :nth-child(2) {
        color: crimson;
    }
}

.home-page-call-to-action-div {
    padding: var(--default-text-padding);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#home-page-services {
    gap: 2rem;

    & h1 {
        color: var(--maroon-primary);
        font-size: 4rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    & li {
        color: var(--maroon-font-dark);
        margin-bottom: 0.5rem;
    }

    & .link-button {
        border: 1px solid var(--maroon-very-light)
    }
}

#home-page-about-us {
    & h1 {
        text-align: center;
        font-size: 7rem;
        background-image: url('../Images/Prestine\ Renovations\ Photo\ 8.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;

        font-weight: 900;
    }
    & .link-button {
        border: 1px solid var(--maroon-very-light);
    }
}
#our-story {
    padding: var(--default-text-padding);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--maroon-primary);
    color: white;
    min-height: 70vh;
    & * {
        max-width: 1200px;
    }
    & h1 {
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }

    & h3 {
        color: var(--maroon-very-light);
    }
}


#expectations {
    padding: var(--default-text-padding);

    background-image: url("../Images/Prestine\ Renovations\ Photo\ 6\ \(Planning\).jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    backdrop-filter: blur(1rem);
    & * {
        max-width: 1200px;
    }

    & h1 {
        font-size: 4rem;
        margin-bottom: 5rem;
    }
    & li {
        font-weight: bold;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }

}

#testimonial-container {
    padding: var(--default-text-padding);
    color: var(--maroon-primary);

    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    & h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}

.testimonial {
    padding: 2rem;
    max-width: min(1000px, 100%);
    border: 1px solid var(--maroon-primary);
    color: var(--maroon-font-dark);
    border-radius: 1rem;

    & span {
        color: var(--maroon-primary);
    }
}

#about-page-call-to-action {
    
    position: relative;
    min-height: 50vh; 
    background-image: url('../Images/Prestine\ Renovations\ Photo\ 3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    z-index: 0;

    color: var(--maroon-primary);

    h1 {
        padding: 0.5rem;
        font-size: 4rem;
        margin-bottom: 1rem;
        text-align: center;
    }
}

#card-container {
    display: flex;
    padding: var(--default-text-padding);
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;

    min-height: 500px;
    width: min(100%, 1920);
    margin: auto;
    gap: 1rem;
    
    position: relative;
    z-index: 0;

    background-image: url(../Images/Prestine\ Renovations\ Photo\ 5.jpg);
    background-position: top;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    transition-property: filter;
    transition-duration: 0.5s;

    &:has(:hover :not(.blur)) .card:not(:hover){
        filter: blur(10px);
    }
    
}

.card {
    min-height: 250px;
    width: min(400px, 100%);
    display: flex;
    position: relative;
    align-items: center;
    font-size: 0.8rem;
    justify-content: center;
    background-color: rgb(208, 57, 57);
    color: white;
    padding: 1rem;
    text-align:center;
    border-radius: 1rem;

    transition-property: transform, background-color, border-color, color, filter;
    transition-duration: 0.5s;
    border: 2px solid rgb(208, 57, 57);

    user-select: none;

    &:hover {
        transform: translateY(-50px) scale(120%);
        background-color: white;
        color: rgb(208, 57, 57);
        border-color: rgb(208, 57, 57);
        
    }
    
}

#service-card-container {
    padding: var(--default-text-padding);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    
}

.service-card {

    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 1px solid var(--maroon-primary);
    padding: 2rem;
    
    border-radius: 0.5rem;

    transition-property: transform;
    transition-duration: 0.5s;
    background-color: white;

    transition-property: background-color, transform;
    transition-duration: 0.5s;

    user-select: none;
    h1 {
        margin-bottom: 2rem;
        color: var(--maroon-primary);
        text-align: center;
    }

    h3 {
        margin-bottom: 0.5rem;
        text-align: center;
    }

    &:hover {
        transform: scale(110%);
    }
}

#services-process {
    padding: var(--default-text-padding);
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
        color: var(--maroon-primary);
        margin-bottom: 2rem;
        font-size: 3rem;
    }

    h2 {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        color: var(--maroon-font-dark);
    }

    & * {
        width: min(1000px, 100%);
        
    }
}

#book-consultation-call-to-action {
    position: relative;
    height: 50vh;
    background-image: url("../Images/Prestine\ Renovations\ Photo\ 4\ \(Shaking\ hands\).jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    z-index: 0;

    color: white;

    h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    
}

#gallery-images-container {
    border-top: 3px solid maroon;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: min(100%, 1400px);
    padding: var(--default-text-padding);
    place-items: center;
    

}

.gallery-image-div {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 3rem;
    gap: 2rem;
    & img {
        /*width: 992px;*/
        /*height: 558px;*/
        width: min(500px, 100%);
        aspect-ratio: 16/9;
        border-radius: 2rem;
    }

    h2 {
        width: min(100%, 400px);
        color: var(--maroon-primary);
        font-size: 1.25rem;
        text-align: center;
    }
    
}

.blur {
        /*set position:reletative for it's parent element as well as z-index:0 in the same parent element*/

        position:absolute;
        
        width: 100%;
        height: 100%;
        backdrop-filter: blur(1rem);

        z-index: -1;
        inset: 0;
    }

.link-button {
        text-align: center;
        margin: 5px;
        
        color: red;
        border-radius: 5px;
        
        padding: 10px;
        text-decoration: none;
        background-color: white;
        
        transition-property: color, background-color;
        transition-duration: 0.5s;
        font-size: 1.7rem;
        font-size: 1rem;
        width: 120px;
        & :visited {
            color: red;
        }

        &:hover {
            background-color: red;
            color: white;
        }
}

#contact-page-form {
    display: flex;
    flex-flow: column;
    padding: var(--default-text-padding);
    gap: 2rem;
    background-color:var(--maroon-primary);
    font-size: 1.5rem;

    

    
}

.form-input-div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: white;
        & :nth-child(2) {
            width: max-content;
        }
        
        border: none;

        & input, select {
            max-width: min(1000px, 100%);
            font-size: 1.5rem;
            padding: 1.2rem;
            text-overflow: ellipsis;
            &:focus-within {
                outline: var(--maroon-very-light) 1px solid;

            }

            border-radius: 0.5rem;
            border: none;
        }

        & select {
            color: var(--maroon-font-dark);
            border: none;

            & option {
                color: var(--maroon-font-dark);
                width: min(1000px, 100%);
                background-color: var(--maroon-very-light);
            }
        }

}

#submit-button {
    margin-top: 3rem;
    width: max-content;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: maroon;
    color: white;
    border-radius: 0.5rem;
    
    border: none;

    &:hover {
        color: maroon;
        background-color: white;
    }

    transition-property: color, background-color;
    transition-duration: 1.5s;
}

#budget-disclaimer {
    font-size: 1rem;
}

#contact-details-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
    padding: var(--default-text-padding);

    background-color:burlywood;
    color:firebrick;
    
}

footer {
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
}

.slide-in-animated-element {
    animation: slideIn;

    animation-timeline: view();
}


@media (max-width: 700px) {
    
    nav {
        flex-wrap: wrap;
    }
    #welcome-text {
        width: 100%;
        font-size: 3rem;
        text-align: center;
    }
    #service-card-container {
        grid-template-columns: 1fr;
    }
    #gallery-images-container {
        grid-template-columns: 1fr;
    }
    
}

@keyframes slideIn {
  from {
    transform: translateX(-100px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}